In [1]:
import pyspark
from pyspark.sql import types
import pandas as pd
from pyspark.sql import SparkSession
from pyspark.sql import types
from pyspark.sql import functions as F

spark = SparkSession.builder \
    .master("local[*]") \
    .appName('test') \
    .getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

23/03/01 16:37:20 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
23/03/01 16:37:21 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [2]:
df_green = spark.read.parquet('data/pq/green/*/*')

In [3]:
df_green.registerTempTable('green')

/usr/local/Cellar/apache-spark/3.3.2/libexec/python/pyspark/sql/dataframe.py:229: FutureWarning: Deprecated in 2.0, use createOrReplaceTempView instead.
  warnings.warn("Deprecated in 2.0, use createOrReplaceTempView instead.", FutureWarning)

In [4]:
df_green_revenue = spark.sql("""
SELECT 
    date_trunc('hour', lpep_pickup_datetime) AS hour, 
    PULocationID AS zone,

    SUM(total_amount) AS amount,
    COUNT(1) AS number_records
FROM
    green
WHERE
    lpep_pickup_datetime >= '2019-01-01 00:00:00'
GROUP BY
    1, 2
""")

In [5]:
df_green_revenue.show()

+-------------------+----+------------------+--------------+
|               hour|zone|            amount|number_records|
+-------------------+----+------------------+--------------+
|2019-01-03 20:00:00|  74| 659.2299999999999|            61|
|2019-01-02 19:00:00| 244|302.08000000000004|            16|
|2019-01-01 14:00:00|  65|             246.3|            16|
|2019-01-01 02:00:00|  54|             44.67|             2|
|2019-01-03 17:00:00| 179| 95.69999999999999|             4|
|2019-01-02 01:00:00| 256|             45.02|             4|
|2019-01-02 14:00:00| 244| 551.1700000000001|            28|
|2019-01-01 07:00:00|   3|             34.46|             1|
|2019-01-01 05:00:00| 256|170.37000000000003|            13|
|2019-01-01 10:00:00| 122|              35.8|             1|
|2019-01-03 18:00:00|  51|            110.53|             2|
|2019-01-02 09:00:00| 241|13.600000000000001|             2|
|2019-01-03 09:00:00|  95| 396.6600000000001|            24|
|2019-01-03 21:00:00|  25|246.26000000000002|            23|
|2019-01-02 07:00:00| 197|              36.2|             3|
|2019-01-02 09:00:00| 218|             99.49|             4|
|2019-01-04 02:00:00|  73|               3.8|             1|
|2019-01-02 11:00:00|  31|              20.3|             1|
|2019-01-03 02:00:00|   7|111.46000000000001|             7|
|2019-01-02 17:00:00|  78|118.42999999999999|             5|
+-------------------+----+------------------+--------------+
only showing top 20 rows

In [7]:
df_green_revenue.repartition(20).write.parquet("data/report/green", mode='overwrite')

23/03/01 16:38:09 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers
23/03/01 16:38:09 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 84.44% for 9 writers
23/03/01 16:38:09 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 76.00% for 10 writers
23/03/01 16:38:09 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 69.09% for 11 writers
23/03/01 16:38:09 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 63.33% for 12 writers

23/03/01 16:38:11 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 69.09% for 11 writers
23/03/01 16:38:11 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 76.00% for 10 writers
23/03/01 16:38:11 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 84.44% for 9 writers
23/03/01 16:38:11 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers
23/03/01 16:38:11 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers

In [8]:
df_yellow = spark.read.parquet('data/pq/yellow/*/*')

In [9]:
df_yellow.registerTempTable('yellow')

In [10]:
df_yellow_revenue = spark.sql("""
SELECT 
    date_trunc('hour', tpep_pickup_datetime) AS hour, 
    PULocationID AS zone,

    SUM(total_amount) AS amount,
    COUNT(1) AS number_records
FROM
    yellow
WHERE
    tpep_pickup_datetime >= '2019-01-01 00:00:00'
GROUP BY
    1, 2
""")

In [11]:
df_yellow_revenue.show()

+-------------------+----+------------------+--------------+
|               hour|zone|            amount|number_records|
+-------------------+----+------------------+--------------+
|2019-03-02 11:00:00| 239| 6459.060000000007|           472|
|2019-03-02 15:00:00|  48|           4273.98|           261|
|2019-03-02 22:00:00|  48|13419.880000000037|           754|
|2019-03-01 07:00:00|  75|2321.4899999999975|           162|
|2019-03-02 20:00:00| 209| 638.0100000000002|            35|
|2019-03-03 14:00:00|  50|1598.4299999999998|           105|
|2019-03-01 07:00:00| 164| 2587.739999999999|           174|
|2019-03-01 10:00:00| 163| 6766.040000000008|           360|
|2019-03-01 15:00:00| 113| 3353.319999999997|           208|
|2019-03-02 23:00:00| 112|            150.99|            10|
|2019-03-01 13:00:00|  10|            375.85|             7|
|2019-03-03 08:00:00|  50|2727.6399999999976|           152|
|2019-03-01 23:00:00| 181| 519.4200000000001|            27|
|2019-03-01 10:00:00| 144| 843.3800000000001|            55|
|2019-03-02 14:00:00| 158| 2453.699999999998|           142|
|2019-03-02 20:00:00|  42|205.76999999999998|            20|
|2019-03-03 03:00:00| 141|           1110.23|            71|
|2019-03-01 22:00:00| 244|            210.12|            13|
|2019-03-03 07:00:00|  41| 588.4800000000001|            43|
|2019-03-02 01:00:00| 112|            152.26|            12|
+-------------------+----+------------------+--------------+
only showing top 20 rows

In [12]:
df_yellow_revenue.repartition(20).write.parquet("data/report/yellow", mode='overwrite')

23/03/01 16:38:34 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers
23/03/01 16:38:34 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 84.44% for 9 writers
23/03/01 16:38:34 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 76.00% for 10 writers
23/03/01 16:38:34 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 69.09% for 11 writers
23/03/01 16:38:34 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 63.33% for 12 writers

23/03/01 16:38:34 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 69.09% for 11 writers
23/03/01 16:38:34 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 76.00% for 10 writers
23/03/01 16:38:34 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 84.44% for 9 writers
23/03/01 16:38:34 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers
23/03/01 16:38:34 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers

In [16]:
df_green_revenue_tmp = df_green_revenue \
    .withColumnRenamed('amount', 'green_amount') \
    .withColumnRenamed('number_records', 'green_number_records')

df_yellow_revenue_tmp = df_yellow_revenue \
    .withColumnRenamed('amount', 'yellow_amount') \
    .withColumnRenamed('number_records', 'yellow_number_records')

In [17]:
df_join = df_green_revenue_tmp.join(df_yellow_revenue_tmp, on=['hour', 'zone'], how='outer')

In [18]:
df_join.show()

+-------------------+----+------------------+--------------------+------------------+---------------------+
|               hour|zone|      green_amount|green_number_records|     yellow_amount|yellow_number_records|
+-------------------+----+------------------+--------------------+------------------+---------------------+
|2019-01-01 00:00:00|  11|              10.3|                   1|              18.6|                    2|
|2019-01-01 00:00:00|  29|              22.1|                   2|              null|                 null|
|2019-01-01 00:00:00|  40| 80.08999999999999|                   5|117.89999999999999|                    4|
|2019-01-01 00:00:00|  73|              22.3|                   1|              null|                 null|
|2019-01-01 00:00:00|  74| 781.8099999999998|                  50| 825.8600000000005|                   67|
|2019-01-01 00:00:00|  90|              null|                null| 4346.819999999996|                  281|
|2019-01-01 00:00:00|  94|              13.3|                   1|              13.3|                    1|
|2019-01-01 00:00:00|  95| 329.7400000000001|                  28|              null|                 null|
|2019-01-01 00:00:00| 106|             64.55|                   5|             46.12|                    3|
|2019-01-01 00:00:00| 114|              null|                null| 5056.040000000001|                  293|
|2019-01-01 00:00:00| 141|              null|                null|4548.5199999999995|                  370|
|2019-01-01 00:00:00| 143|              null|                null| 2186.529999999999|                  151|
|2019-01-01 00:00:00| 163|              null|                null|3313.0899999999956|                  231|
|2019-01-01 00:00:00| 177|              30.6|                   2|            104.16|                    3|
|2019-01-01 00:00:00| 195|              null|                null|             19.85|                    1|
|2019-01-01 00:00:00| 197|              null|                null|              43.8|                    1|
|2019-01-01 00:00:00| 209|              null|                null| 702.7000000000002|                   36|
|2019-01-01 00:00:00| 264|136.20000000000002|                   6| 3546.849999999996|                  233|
|2019-01-01 01:00:00|  12|              null|                null|            154.56|                    4|
|2019-01-01 01:00:00|  41| 865.2899999999993|                  67|2005.2599999999984|                  139|
+-------------------+----+------------------+--------------------+------------------+---------------------+
only showing top 20 rows

In [19]:
df_join.write.parquet('data/report/total', mode='overwrite')

23/03/01 16:50:25 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers
23/03/01 16:50:25 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 84.44% for 9 writers
23/03/01 16:50:25 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 76.00% for 10 writers
23/03/01 16:50:25 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 69.09% for 11 writers
23/03/01 16:50:25 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 63.33% for 12 writers
23/03/01 16:50:26 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 69.09% for 11 writers
23/03/01 16:50:26 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 76.00% for 10 writers
23/03/01 16:50:26 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 84.44% for 9 writers
23/03/01 16:50:26 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers